{% extends "base.html" %}
{% load static %}
{% load article_extras %}
{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.description|convert_markdown|safe }}</p>
    {% if object.articles.exists %}
        <h2>Articles</h2>
        <ul>
            {% for article in object.articles.all %}
                <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'create_article' %}?section={{ object.pk }}">Create new article</a>
    <h2>Sections</h2>
    <ul>
        {% for section in object.section_set.all %}
            <li><a href="{{ section.get_absolute_url }}">{{ section.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}